# Ignore node_modules and logs
**/node_modules/
**/*.log

# Ignore uploads folder if it's just for temp files
UniFind_Backend/uploads/

# Ignore OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignore env files
**/.env
**/.env.*

# Ignore other folders you don't want in repo
Others/
UniFind_Database/
